     body {
           background-color: #44CF6C;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        }
        .card-custom {
            background-color: white
            border-radius:red;
        }
       
        #output {
            background-color: #28a745; 
            color: white;
            border-radius: 10px;
        }
form {
  text-align: center;
}
.col-md-3{
    background-color: #44CF6C;
}
.navbar-brand img{
	width: 50px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
       
   
