     body {
            background-color: red
        }
        .card-custom {
            background-color: white
            border-radius: 20px;
        }
       
        #output {
            background-color: #28a745; 
            color: white;
            border-radius: 10px;
        }
       
   